# =========================
# Go build artifacts
# =========================
bin/
build/
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# =========================
# Go modules
# =========================
vendor/

# =========================
# Go workspace
# =========================
go.work
go.work.sum

# =========================
# VS Code
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# =========================
# IDE / Editor
# =========================
.idea/
*.swp
*.swo

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs & temp
# =========================
*.log
tmp/
temp/

# =========================
# Environment variables
# =========================
.env
.env.*
