version: "3.9"

services:
  postgres:
    image: postgres:18-alpine
    restart: always
    environment:
      POSTGRES_DB: health_app
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpass
    ports:
      - "5432:5432"               
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./postgres/health-app/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:                 
      test: ["CMD-SHELL", "pg_isready -U admin -d health_app"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - backend

  postgres_his:
    image:  postgres:18-alpine
    restart: always
    environment:
      POSTGRES_DB: his_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpass
    ports:
      - "5433:5432"               
    volumes:
      - pgdata_his:/var/lib/postgresql/data
      - ./postgres/his/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:                  
      test: ["CMD-SHELL", "pg_isready -U admin -d his_db"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - backend

  health-app-service:
    build: ./services/health-app
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpass
      POSTGRES_DBNAME: health_app
      POSTGRES_SSLMODE: disable
    depends_on:                   
      postgres:
        condition: service_healthy
    networks:
      - backend

  his-service:
    build: ./services/his
    environment:
      POSTGRES_HOST: postgres_his
      POSTGRES_PORT: 5432
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpass
      POSTGRES_DBNAME: his_db
      POSTGRES_SSLMODE: disable
    depends_on:                   
      postgres_his:
        condition: service_healthy
    networks:
      - backend

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - health-app-service
      - his-service
    networks:
      - backend

volumes:
  pgdata:
  pgdata_his:

networks:
  backend:
    driver: bridge
